.app.dark {
  --bg-color: #6f6f73;
  --inverted-bg-color: #f6d5d5;

  --primary-color: #ffffff;
  --secondary-color: #9292df;
  --inverted-primary-color: #c86367;
  --inverted-secondary-color: #df0e35;
}