.app.light {
  --bg-color: #f6d5d5;
  --inverted-bg-color: #6f6f73;
  --primary-color: #c86367;
  --secondary-color: #df0e35;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #9292df;
}